
span{
    width: 200px;
    height: 100px;
    background: blue;
}


p{
    width: 800px;
    height: 600px;
    border: 10px solid red;
    margin: 0 auto;}

.box{
    width: 200px;
    height: 200px;
    background: yellowgreen;


}
.son{
    width: 100px;
    height: 100px;
    background: hotpink;
    text-align: center;
    line-height: 100px;
}